.App {
  text-align: center;
}

.App-header {
  background-color: #1A254C;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button {
  background-color: #AEC6C2;
  font-size: 15px;
  color: #1a254c;
  transition-duration: 0.2s;
  border: 1.5px solid #1A254C;
  padding: 12px;
  border-radius: 15px;
  margin: 20px;
}

.button:hover {
  background-color: #a66d89;
  color: #1a254c;
  cursor: pointer;
}

.form-container .button {
  font-size: 12px;
  padding: 7px;
  border-radius: 10px;
}

.account-container { 
  font-size: 16px;
  padding: 40px 30px 30px;
  text-align: center;
  background-color: white;
  border: 2px solid black;
}

.header {
  width: 100%;
  font-size: 18px;
  text-align: center;
  padding: 15px;
}

.close {
  cursor: pointer;
  position: absolute;
  display: block;
  right: 5px;
  top: 5px;
  font-size: 24px;
}

.close:focus {
  outline: none;
  text-decoration: none;
}

.form-container {
  text-align: center;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.form-text {
  text-align: center;
  /* width: 200px; */
  /* padding: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding-left: 300px; */
  /* float: left; */
}

.form-tr {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-tr .text {
  margin: 5px;
}

.form-text .button {
  margin: 5px;
}

.text {
  font-size: 15px;
}

.error { 
  border: 2px solid #FF6565;
}

.error-message {
  color: #FF6565;
  height: 1em;
  /* width: 300px; */
  padding-left: none;
  /* padding-top: none; */
  font-size: 13px;
}

.form-tr .error-message {
  margin-top: -5px;
  margin-bottom: 8px;
}

.form-text .button:disabled {
  background: #d3d3d3;
  border-color: #d3d3d3;
}

.form-text .button:disabled:hover {
  background: #d3d3d3;
  cursor: default;
} 

.container {
  font-size: 16px;
  text-align: center;
  /* background-color: white; */
  /* border: 2px solid black; */
}

.container .info {
  background-color: #1A254C;
  min-height: 10vh;
  color: white;
  /* padding: 25px 15px 15px; */
  padding: 15px;
}

.info div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container .info h2 {
  margin: 0px 15px 15px;
}

.transactions {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.t {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.t p {
  padding: 0px 10px 0px;
}
